<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>Thomas Gibson-Robinson</string>
	<key>description</key>
	<string>Bundle that adds syntax support for CSPM.
</string>
	<key>name</key>
	<string>CSPM</string>
	<key>uuid</key>
	<string>45164252-B282-48DA-B780-8064CFF38A8A</string>
</dict>
</plist>
